<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarpentryShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarpentryShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/semantic-ui/semantic.min.css">
</head>

<body>
    <div  class="ui mmm  visible sidebar inverted vertical menu">

        <div class="item">
            <a class="ui logo" href="/">
                <img class="logo-img" src="~/logo.png">
            </a>
            <a href="/"><b>Carpentry Shop</b></a>
        </div>

        <a class="item" href="/Admin">
            <b>Open Orders</b>
        </a>

        <a class="item" href="/Admin/AllOrders">
            <b>All Orders</b>
        </a>

        <a class="item" href="/Admin/AllOrders">
            <b>Print Order</b>
        </a>


        <a class="item" href="/Admin/AllOrders">
            <b>Settings</b>
        </a>


        <partial name="_LoginPartial" />

    </div>
    <div class="pusher">
        <!-- Site content !-->
        <div class="main">

            @RenderBody()

        </div>

    </div>

    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CarpentryShop - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/semantic-ui/semantic.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
