

<div style="margin-top: 50px;">
    <h4 class="ui dividing header">
        <i class="user icon"></i>
        <div class="content">
            Customer
        </div>
    </h4>
    <div class="four fields">
        <div class="field">
            <label>Requested By<span class="required">*</span></label>
            <input type="text" maxlength="255" placeholder="Enter your name" required>
        </div>
        <div class="field">
            <label>Department</label>
            <input type="text" maxlength="255" placeholder="Enter Department">
        </div>
        <div class="field">
            <label>Email</label>
            <input type="text" maxlength="255" placeholder="Enter your email">
        </div>
        <div class="field">
            <label>Required Datea</label>
            <input type="text" maxlength="255" placeholder="Select Date" required>
        </div>

    </div>
</div>
