<div style="margin-top: 50px;">
    <h4 class="ui dividing header">
        <i class="money box icon"></i>
        <div class="content">
            box Dimension
        </div>
    </h4>
    <div id="box-item">
        <div id="starter-item">
            <div class="box-item">
            <div class="four fields box-item">
                <div class="field">
                    <label>Inside Length <span class="required">*</span> (L) </label>
                    <input type="text" maxlength="500" placeholder="Enter Value" required>
                </div>
                <div class="field">
                    <label>Inside Width <span class="required">*</span> (W)</label>
                    <input type="number" pattern="^\d*(\.\d{0,2})?$" step="0.01" min="0" placeholder="Enter value" required>
                </div>
                <div class="field">
                    <label>Inside Height <span class="required">*</span> (H)</label>
                    <input type="number" pattern="^\d*(\.\d{0,2})?$" step="0.01" min="0" placeholder="Enter value" required="">
                </div>
<div class="field">
                    <label>Number of Box <span class="required">*</span> </label>
                    <input type="number" pattern="^\d*(\.\d{0,2})?$" step="0.01" min="0" placeholder="Enter value" required="">
                </div>
            </div>
<div class="three fields">
                    <div class="fields">
                        <label>Do you want a footer? </label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Fees[0].Footer" checked="" tabindex="0" class="hidden" value="Price">
                                <label>Price</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Fees[0].Footer" tabindex="0" class="hidden" value="Percentage">
                                <label>Percentage</label>
                            </div>
                        </div>
                    </div>
<div class="fields">
                        <label>Do you want a lid? </label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Fees[0].PercentageOrPrice" checked="" tabindex="0" class="hidden" value="Price">
                                <label>Price</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="Fees[0].PercentageOrPrice" tabindex="0" class="hidden" value="Percentage">
                                <label>Percentage</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-2">
    <div class="fluid ui button" onclick="addRow('item')">
        <i class="plus icon"></i> Add Additional Box
    </div>
</div>
<div id="remove-item" class="mt-2" style="display: none;">
    <div class="fluid ui button red" onclick="removeRow('item')">
        <i class="minus icon"></i> Remove Last Box
    </div>
</div>
