@page
@model AllOrders
@{
Layout = "Shared/_AdminLayout";
ViewData["Title"] = "Home page";
}

<div class="order-table ui container">
    <h3>All Orders </h3>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Order Ref</th>
                <th>Name</th>
                <th>Department Name</th>
                <th>Emails</th>
                <th>Num of Box</th>
                <th>Completed Boxs</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

