@page
@model LoginModel

@{
ViewData["Title"] = "Log in";
}

<div style="height:100%; margin: 0; hidden;" class="ui middle aligned center aligned grid">
    <div style="max-width:450px;padding-top: 10rem " class="column">
        <div asp-validation-summary="All" class="ui text-danger"></div>
        <form class="ui large form" id="account" method="post">
            <div class="ui segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input asp-for="Input.Email" name="email" type="text" placeholder="E-mail address"
                            autocomplete="username" aria-required="true">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input asp-for="Input.Password" name="password" type="password" placeholder="Password"
                            autocomplete="current-password" aria-required="true">
                    </div>
                </div>
                <div class="ui error message"></div>
                <button id="login-submit" type="submit" class="ui fluid large blue submit button">Log in</button>
            </div>
        </form>

    </div>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script>

    $('.ui.form')
        .form({
            fields: {
                email: {
                    identifier: 'email',
                    rules: [
                        {
                            type: 'email',
                            prompt: 'Please enter a valid e-mail'
                        }
                    ]
                },
                password: {
                    identifier: 'password',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter a password'
                        },
                        {
                            type: 'minLength[6]',
                            prompt: 'Your password must be at least {ruleValue} characters'
                        }
                    ]
                },

            }
        }) ;
</script>

}

