@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}

<div class="img-figure text-center">
    <h2 class="header">Welcome To Carpentry Shop </h2>
    <img style="width: 100%; max-width: 25rem" src="~/fig-1.png" />
</div>

<div class="ui container why">

    <form id="invoice-form" method="post" class="ui form">

        <!-- <div class="field"> -->
        <!--     <label>Inside Length <span class="required">*</span> (L) </label> -->
        <!--     <input type="number" name="number" maxlength="500" placeholder="Enter Value" required> -->
        <!-- </div> -->

        <div class="ui error message"></div>

        <partial name="Partials/_items" />

        <div style="margin-top: 50px;">
            <h4 class="ui dividing header">
                <i class="user icon"></i>
                <div class="content">
                    Customer
                </div>
            </h4>
            <div class="customer-info three fields">
                <div class="field">
                    <label>Requested By <span class="required">*</span></label>
                    <input id="name" type="text" asp-for="Customer.FirstName" maxlength="255"
                        placeholder="Enter your name">
                </div>
                <div class="field">
                    <label>Department Name <span class="required">*</span> </label>
                    <input type="text" asp-for="Customer.Department" maxlength="20" placeholder="Enter Department">
                </div>
                <div class="field">
                    <label>Email <span class="required">*</span></label>
                    <input type="email" asp-for="Customer.Email" maxlength="255" placeholder="Enter your email">
                </div>
            </div>

            <div class="one fields">
                <div class="field">
                    <input type="file" id="fUpload" name="files" />
                    <!-- <button class="ui teal right labeled icon button"> -->
                    <!--     <i class="copy icon"></i> -->
                    <!--     Add file -->
                    <!-- </button> -->
                </div>
            </div>
        </div>


        <div class="py-5">
            <button id="generate" class="fluid ui button primary">
                Create Order
            </button>
        </div>

    </form>

</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script>

    $('.ui.form')
        .form({
            fields: {
                number: {
                    identifier: 'number',
                    rules: [
                        {
                            type: 'decimal',
                            prompt: 'Please enter a valid e-mail'
                        }
                    ]
                },
            }
        });

</script>

}
