@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="header">Welcome To Carpentry Shop </h2>
    <img style="width: 100%; max-width: 23rem" src="~/fig-1.png" />
</div>

<div class="ui container why">
    <form id="invoice-form" method="post" class="ui form">

        <partial name="Partials/_items" />

<div style="margin-top: 50px;">
    <h4 class="ui dividing header">
        <i class="user icon"></i>
        <div class="content">
            Customer
        </div>
    </h4>
    <div class="four fields">
        <div class="field">
            <label>Requested By<span class="required">*</span></label>
            <input type="text" asp-for="Customer.Name"  maxlength="255" placeholder="Enter your name" required>
        </div>
        <div class="field">
            <label>Department Name</label>
            <input type="text" asp-for="Customer.Department"   maxlength="255" placeholder="Enter Department">
        </div>
        <div class="field">
            <label>Email</label>
            <input type="email" asp-for="Customer.Email"  maxlength="255" placeholder="Enter your email">
        </div>
        <div class="field">
            <label>Required Date</label>
            <input type="text" maxlength="255" placeholder="Select Date" required>
        </div>

    </div>
</div>


        <div class="py-5">
            <button id="generate" class="fluid ui button primary">
                Create Order
            </button>
        </div>

    </form>

</div>
