@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="header">Welcome To Carpentry Shop </h2>
    <img src="~/fig-1.png" />
</div>

<div class="ui container why">
<form id="invoice-form" class="ui form" asp-action="GenerateInvoice">
        <partial name="Partials/_Items"/>
        <partial name="Partials/_customer"/>

<div class="py-5">
            <button id="generate" class="fluid ui button primary">
                Create Order
            </button>
        </div>

</form>

</div>
