@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}


<div class="ui container why">
<div class="img-figure text-center">
    <h1 class=" ui huge header">Welcome To Carpentry Shop </h1>
    <img style="width: 100%; max-width: 25rem" src="~/fig-1.png" />

<div class="ui info message">
  <div class="header">
  Please NOTE:
  </div>
   I have designed this website to demonstrate my capabilities to prospective
   employers. To access the dashboard, please use <b>admin@localhost.com</b>
   as your email and <b>@@Password1</b> as password. Please note, it's advisable
   not to use your real email when completing the form."
   Your can find the <a  href="https://github.com/simanga-dev/carpentry-shop" target="_blank">source code</a> for this project on my <a href="https://github.com/simanga-dev" target="_blank">github account</a>
</div>
</div>
</div>

<div class="ui container why">

    <form id="invoice-form" method="post" class="ui form">

        <!-- <div class="field"> -->
        <!--     <label>Inside Length <span class="required">*</span> (L) </label> -->
        <!--     <input type="number" name="number" maxlength="500" placeholder="Enter Value" required> -->
        <!-- </div> -->

        <div class="ui error message"></div>

        <partial name="Partials/_items" />

        <div style="margin-top: 50px;">
            <h4 class="ui dividing header">
                <i class="user icon"></i>
                <div class="content">
                    Customer
                </div>
            </h4>
            <div class="customer-info three fields">
                <div class="field">
                    <label>Requested By <span class="required">*</span></label>
                    <input id="name" required type="text" asp-for="Customer.FirstName" maxlength="255"
                        placeholder="Enter your name">
                </div>
                <div class="field">
                    <label>Department Name <span class="required">*</span> </label>
                    <input required type="text" asp-for="Customer.Department" maxlength="20" placeholder="Enter Department">
                </div>
                <div class="field">
                    <label>Email <span class="required">*</span></label>
                    <input class="email" required type="email" asp-for="Customer.Email" maxlength="255"
                        placeholder="Enter your email">
                </div>
            </div>

        </div>


        <div class="py-5">
            <button type="submit" class="fluid ui button primary">
                Create Order
            </button>
        </div>

    </form>

</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script>

    $(function () {
        $('.ui.form')
            .form({
                fields: {
                    number: {
                        identifier: 'number',
                        rules: [
                            {
                                type: 'decimal',
                                prompt: 'Please enter a valid e-mail'
                            }
                        ]
                    },
                    email: {
                        identifier: 'email',
                        rules: [
                            {
                                type: 'email',
                                prompt: 'please please enter a valid email'

                            }
                        ]
                    }
                }
            });
    });

</script>

}
